* {
  font-family: "Lexend";
}

body {
  background-color: #333;
}

#main-box {
  background-color: rgb(216, 215, 215);
  position: relative;
  max-width: 20%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 30px rgb(173, 173, 173);
}

#returnResultat {
  box-shadow: 0px 0px 10px gray;
  margin-bottom: 3vh;
  padding: 10px 0px;
}

#returnResultat i {
  opacity: 0.3;
}

#progressive-bar {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: rgb(216, 215, 215);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#progressive-bar-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

#slider {
  width: 100%;
  -webkit-appearance: none; /* Supprimer le style par défaut de Chrome / Safari */
  appearance: none;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(90deg, #ff5733, #ffc300, #81ff33, #52d103);
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
  cursor: pointer;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------------- */
/* ---------------------Options Checkbox--------------------- */
/* ---------------------------------------------------------- */

#box-list-button .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 0;
}

#box-list-button label {
  margin-right: 10px;
}

input[type="checkbox"] {
  cursor: pointer;
  margin: 0;
}
#box-list-button input[type="checkbox"]:checked {
  background-color: blue;
}

/* ---------------------------------------------------------- */
/* --------------------Bouton Generer MDP-------------------- */
/* ---------------------------------------------------------- */
#box-button-generate {
  margin: 3vh 0;
}

#button-generate {
  font-size: 16px;
  padding: 10px 50px;
  background-color: rgb(255, 36, 36);
  border: none;
  border-radius: 10px;
}

#button-generate:hover {
  background-color: rgb(228, 84, 84);
}

#button-generate:focus {
  background-color: rgb(255, 36, 36);
}

/* BROUILLOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOON */
